html,body{color: #333; margin: 0; height: 100%; font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-weight: normal; } 
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
a{text-decoration: none; color: #000;}
a, label, button, input, select{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
img{width:100%; height:auto; display:block; border: 0;}
body{background: #fff; color: #666;}
html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {margin: 0; padding: 0; }
a{text-decoration: none; color: #08acee; }
button{outline: 0;}
img{border: 0; }
button,input,optgroup,select,textarea{margin: 0; font: inherit; color: inherit; outline: none; }
li{list-style: none; }
a{color: #666; }
.h4, .h5, .h6{font-size:0.9rem;}
.h2{font-weight:800; font-size:1.1rem;}
.h3{font-weight:800; color:#ff5403;font-size:1.2rem;}
.h5{ color:#ff5403;}
.span{color:#ff5403; font-size:1.1rem; font-weight:700;}
.border img{border-radius:0.1rem;}
.cont{padding-left:0; padding-right:0;}
.padding{padding:0.7rem 0 0;}
.logo{display:block;margin:0 auto;width:100%;max-width:100%;}
.center{text-align:center;}
.left{text-align:left;}
.layui-input-block{margin-left: 0!important;}
.layui-form-school p{line-height: 36px; font-weight: 800;}
.layui-form-school p span{font-weight: 800; color: red}